body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pawel-czerwinski-xluuaaydyhs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 100%;
    width: 30vmax;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ====================================== */
.contact {
    color: #ecf0f1;
    padding: 60px 0;
    text-align: center;
    float: right;
    width: 70vmax;
    position: absolute;
    right: 0vmin;
    top: 0vmax;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white; 

}

.title span {
    color: #3498db;
}

.contact-detail {
    margin-top: 20px;
    line-height: 1.6;
    
}


form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #ecf0f1;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.email-me{
    text-decoration: none;
    color: white;
}
textarea {
    resize: none;
    height: 100px;
}

/* ====================================== */

.p-name{
    color: black;
    font-weight: bold;
    font-size: 25px;
}

button {
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
  }
  
.home-button{
    padding: 15px 60px;
    background-color: rgb(201, 52, 102);
    color: white;
}
.home-button:hover{
    background-color: white;
    color: black;
}

.resume-button{
    padding: 15px 50px;
    background-color: #3498db;
    color: white;
}
.resume-button:hover{
    background-color: white;
    color: black;
}
.contact-button{
    padding: 15px 53px;
    background-color:rgb(214, 136, 167);
    color: white;
}
.contact-button:hover{
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        height: auto;
        padding-bottom: 25px;
        position: relative;
    }

    .home-button, .resume-button, .contact-button {
        padding: 20px 100px;
    }
    .resume-button{
        padding: 20px 90px;
    }
    .contact-button{
        padding: 20px 93px;
    }

    .section-one {
        height: auto;
        padding-bottom:10px;
        padding-right: 10px;
        position: static;
      }
      .contact{
        margin-right: 33px;
        position: relative;
    }
    body{
        
        min-height: 100vh;
        /* background-position: 100%; */
        background-repeat: repeat;
        background-size: cover;
    }
    } 
 