body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pawel-czerwinski-xluuaaydyhs-unsplash.jpg");
    /* background-position: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    
}
.header{
    height: 100vmax;
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    background-color: white;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.img-personal {
    border-radius: 300px;
    width: 15vmax;
    height: 15vmax;
    margin-top: 5vmax;
    transition: width 0.5s ;
  }
.img-personal:hover {
  width: 16vmax; /* Change the width on hover */
  box-shadow: 5px 5px 5px rgb(65, 64, 64) ;
  transition: 1s;
}


.p-name{
    color: black;
    font-weight: bold;
    font-size: 25px;
}

button {
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 15px; 
  }
  
.home-button{
    padding: 15px 60px;
    background-color: rgb(201, 52, 102);
    color: white;
}
.home-button:hover{
    background-color: white;
    color: black;
}

.resume-button{
    padding: 15px 50px;
    background-color: #3498db;
    color: white;
}
.resume-button:hover{
    background-color: white;
    color: black;
}
.contact-button{
    padding: 15px 53px;
    background-color:rgb(214, 136, 167);
    color: white;
}
.contact-button:hover{
    background-color: white;
    color: black;
}

/* ----------------------------------------------------------- */

.section-one {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: center;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .about-me-p {
    font-size: 25px; 
    color: white; 
    margin-bottom: 10px; 
    margin-left: 450px;

  }
  
  .about-p {
    font-size: 25px; 
    color: white; 
    background-color: #297fb945;
    /* display: block; */
    width: 600px;
    margin-left: 685px;
    padding: 10px 15px;

  }

.img-slides{

    width: 35vw;
    border-radius: 5px;
    float: right;
    position: relative;
    right: 245px;
    
}

.icon-menu{
    width: 35px;
}
.icon-button{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 15px;
    top: 15px;
}

/* ----------------------------------------------------------- */

table {
    color: white; 
    display: flex;
    width: 60vmax;
    justify-content: center;
    align-items: center;
    margin-left: 530px;
    background-color: #297fb945;
    padding-bottom: 10px;
}

.Download-button{
    padding: 15px 53px;
    background-color: #2980b9;
    color: white;
    margin-top: 20px;
}

.td-down-btn{
    display: flex;
    justify-content: center;
}



/* ------------------------------------------------------ */

.contact {
    color: #ecf0f1;
    padding: 60px 0;
    text-align: center;
    float: right;
    width: 70vmax;

}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.title h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white; 

}

.title span {
    color: #3498db;
}

.contact-detail {
    margin-top: 20px;
    line-height: 1.6;
    
}


form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #ecf0f1;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.email-me{
    text-decoration: none;
    color: white;
}
textarea {
    resize: none;
    height: 100px;
}

/* ----------------------------------------------------------- */

/*mobile screen*/
@media (max-width: 768px) {

    .header {
        width: 100%;
        height: auto;
        padding-bottom: 25px;
        position: relative;
    }

    .home-button, .resume-button, .contact-button {
        padding: 20px 100px;
    }
    .resume-button{
        padding: 20px 90px;
    }
    .contact-button{
        padding: 20px 93px;
    }

    .section-one {
        height: auto;
        padding-bottom:10px;
        padding-right: 10px;
        position: static;
      }

    .img-slides {
        width: 70%;
        margin-top: 15px;
        margin-right: -175px;
    }
  
    .about-me-p {
        font-size: 20px;
        margin-left: -10px;
    }
    .about-p {
        font-size: 12px;
        width: 400px;
        margin-left: 16px;
    }
    .table {
        height: auto; 
        margin-left: 62px;
        padding: 10px;
    } 
    .contact{
        margin-right: 33px;
    }

}

/* @media (min-width: 1024px), (min-width: 769px) {
    .header {
        width: 100%;
        height: auto;
        padding-bottom: 25px;
        position: relative;
    }

    .home-button, .resume-button, .contact-button {
        padding: 20px 200px;
    }
    .resume-button{
        padding: 20px 190px;
    }
    .contact-button{
        padding: 20px 192px;
    }
    .section-one {
        height: auto;
        padding-bottom:10px;
        padding-right: 10px;
        position: static;
      }

    .img-slides {
        width: 50%;
    }
  
    .about-me-p {
        font-size: 20px;
        margin-left: -10px;
    }
    .about-p {
        font-size: 12px;
        width: 400px;
        margin-left: 275px;
    }
    .table {
        height: auto; 
        margin-left: 200px;
        padding: 10px;
    } 
    .contact{
        margin-right: 130px;
    }

  } */